body {
  background-color: rgb(26, 155, 219);
}

h1 {
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
  color: #ffffff;
}

.credits {
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}

.credits, .credits > a {
  font-size: 0.9rem;
}

.credits > a {
  text-decoration: underline;
  color: white;
}

a, p, span {
  color: #ffff2e;
}

div.info {
  width: 80%;
  margin: auto;
}

p.backstory {
  width: 60%;
  margin: 0;
  float: left;
}

img.freddy-running {
  width: 30%;
  margin: 0;
  float: right;
}

button {
  width: min(100%, 60rem);
  height: fit-content;
  padding: 0.7rem;
  font-size: 20px;
  background: #ffff2e;
  color: #000000;
  border: 2px solid #000000;
  border-radius:10px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
	text-align: center;
  display: block;
  margin: auto;
}

button:hover {
  background:#000000;
  color: #ffff2e;
	border:3px solid #000000;
}

.freddy-running {	
	text-align: center;
  display: block;
  margin: auto;
  width: 20%;
  height: auto;
}